
.main{
    margin-left: 296px;
    padding: 32px;
    .icon-style2{
        font-size: 24px;
    }
    .icon-style3{
        font-size: 16px;
    }
    .modal-body{
        padding: 16px 32px;
    }
    .admin-img{
        min-width: 148px;
        height: 148px;
        background-image: url(../images/emir.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .view-admin-content{
        width: calc(100vw - 165px);
        position: relative;
        .btn-close{
            position: absolute;
            right: 0;
        }
    }

}
